/* .navbar {
  background-color: rgba(51, 51, 51, 0.5);  Transparent black 
  color: white;
  padding: 10px 20px;
  position: relative;
  z-index: 2; /* Set higher z-index to keep the navbar above the background image 
  margin-bottom: 20px;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  display: inline;
  margin-right: 20px;
}

.navbar-link a {
  text-decoration: none;
  color: white;
} */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  position: sticky;
  z-index: 2; /*Set higher z-index to keep the navbar above the background image */
  margin-bottom: 20px;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Push links to the edges */
}

.navbar-link {
  display: inline;
  margin-right: 20px;
}

.navbar-link:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

.navbar-link a {
  text-decoration: none;
  color: white;
}

.navbar-link.active {
  margin-left: auto; /* Push the active link to the right */
}
