.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  position: sticky;
  z-index: 2; /*Set higher z-index to keep the navbar above the background image */
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Push links to the edges  */
}

.navbar-link {
  display: inline;
  margin-right: 20px;
}

.title-link {
  margin-left: 20px;
  width: 60%;
}

#title {
  font-size: 20px;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

/* .nav-link.active {
  margin-left: auto;
} */

.active {
  color: #1155ff;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .title-link {
    width: auto;
  }

  .navbar-link {
    margin-right: 10px;
  }
}
